* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.outer {
  /* background-image: url("https://images.unsplash.com/photo-1701666469257-319f272914c6?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"); */
  background-image: url("https://images.unsplash.com/37/IHLjdHdzSvi0rgUMMlSK_TE3_0286.jpg?q=80&w=1934&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  height: 500px;
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: transparent;
  border-radius: 12px;
  backdrop-filter: blur(2px);
  background-size: cover;
  background-position: center;
  margin: 3%;
}

.inner {
  height: 350px;
  width: 350px;
  background-color: rgba(255, 255, 255, 0.155);
  border-radius: 12px;
  backdrop-filter: blur(2px);
}

main {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  background-image: url("https://images.unsplash.com/37/IHLjdHdzSvi0rgUMMlSK_TE3_0286.jpg?q=80&w=1934&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-position: center;
  background-size: cover;
}

main h2 {
  margin-top: 25px;
  color: rgba(255, 255, 255, 0.833);
  backdrop-filter: blur(100px);

  font-size: 3.9rem;
}
